
@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';


.success-page{
    width: 100%;
}
.success-form{
    width:764px;
    margin-left: 310px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  
    @include mobile{
      width: 100%;
      margin-left: 0px;
    }
  }
.center-image{
    display:flex;
    justify-content:center; /* horizontally center */
    align-items:center;    /* vertically center */
    height:300px;
    width:300px;
    margin-left: 230px;

    @include mobile{
        margin-left: 15%;
    }
  }
 
 .center-image svg{
   max-width:100%;
   max-height:100%;
 }

 .sentMessage{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #1E2432;
    margin-left: 190px;
    width:100%;

    @include mobile{
        margin-left: 0px;

    }
 }

 .responseMessage{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;    
    color: #687086;
    width:464px;
    margin-left: 160px;

    @include mobile{
        margin-left: 0px;
        margin-right: 10px;
        width: 100%;
    }
 }