@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.job-profile-card-style {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mobile {
    padding: 12px;
  }

  .job-description-section {
    width: 1128px;
    padding: 20px 0px 30px 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }
  }

  .top-section {
    padding-top: 40px;

    .back-btns {
      font-weight: 600;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      line-height: 100%;
      color: $btn-color;
      align-items: center;
      display: flex;
      position: relative;
      z-index: 1;
    }

    .back-btn-icon {
      height: 14px;
      width: 17px;
      margin-right: 5px;
    }

    .position {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 0;
      color: #1e2432;
      margin-left: 8px;

      @include mobile {
        font-size: 25px;
      }
    }

    .profile-detail {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include mobile {
        margin-left: 5px;
      }
    }

    .company-logo {
      width: 100px;
      height: 100px;
      margin-top: 17px;
    }

    .job-detail-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .card-content {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }

      .job-details {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #687086;
        margin-bottom: 0;
      }

      .work-detail-icon {
        width: 12px;
        margin-right: 10px;
      }
    }

    .company-name {
      margin-top: 10px;
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #687086;
    }
  }

  .button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #2d66fe;
    border: 1px solid #2d66fe;
    border-radius: 4px;
    height: 40px;
    background: none;
    margin-left: 20px;

    @include mobile {
      margin-left: 20px;
      margin-top: 30px;
    }
  }
}
