

@import '../../styles/variables/colors';
@import '../../styles/variables/mixins';


.tab-box{
    height: 68px;}
.multiselect{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #2D66FE;
    box-sizing: border-box;
    border-radius: 8px;
}
.chevron{
    width:20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}