@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.job-description-card {
  position: relative;
  padding-top: 40px;
  width: 705px;
  margin: auto;

  @include mobile {
    padding: 40px 12px 20px;
    width: 100%;
  }

  .heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    color: #1e2432;
    margin-bottom: 25px;
  }

  .description-text {
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    color: #687086;
    max-lines: 1;
    display: flex;
  }

  .readMore {
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: #1e2432;
    padding: 0px;
    border-width: 0px;
    margin-left: 6px;
    font-size: 16px;
  }
}
