@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.email-sent-style {
  height: 100vh;

  .header-banner {
    max-width: 1128px;
    display: block;
    margin: auto;
    padding: 2px 0px 20px 0px;

    @include mobile {
      padding: 0px 12px 64px 12px;
    }
  }

  .body-card {
    width: 100%;
    display: block;
    margin: auto;
  }
  @include mobile {
    padding: 0px 12px 64px 12px;
  }

  .apply-text-form {
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #1e2432;
    margin-bottom: 50px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding-top: 10px;
      font-size: 20px;
    }
  }
}
