@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.email-page-style {
  height: 100vh;

  .header-banner {
    max-width: 1128px;
    display: block;
    margin: auto;
    padding: 2px 0px 20px 0px;

    @include mobile {
      padding: 0px 12px 20px 12px;
    }
  }
  .body-card-description{
    display: flex;
    justify-content: center;
  }
  .complete-header{
    background-color:#32ACB1;
  }
  .position-title{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #1E2432;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .job-detail{
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #687086;
    background: #F7F9FB;
    border-radius: 25px;
    margin-right: 5px;
  }
  .job-container{
    display: flex;
    padding: 5px;
    justify-content: center;
  }
  .apply-text-form {
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #1e2432;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding-top: 10px;
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}
