@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.email-page-style {
  height: 100vh;

  .header-banner-style {
    max-width: 1128px;
    display: block;
    margin: auto;
    padding: 2px 0px 20px 0px;

    @include mobile {
      padding: 0px 12px 20px 12px;
    }
  }
  .body-card-description {
    display: flex;
    justify-content: center;
  }

  .position-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #1e2432;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .job-detail {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: #687086;
    background: #f7f9fb;
    border-radius: 25px;
    margin-right: 10px;
    padding: 8px;
  }
  .job-container {
    display: flex;
    padding: 5px;
    justify-content: center;
  }
  .apply-text-form {
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #1e2432;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding-top: 10px;
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  .fab-button-container {
    position: absolute;
    bottom: 47px;
    right: 91px;

    @include mobile {
      bottom: 20px;
      right: 18px;
    }

    .fab-button {
      background: #2d66fe;
      box-shadow: 0px 10px 40px -5px rgba(89, 102, 132, 0.12);
      border-radius: 41px;
      width: 192px;
      height: 60px;
      border: none;
      color: $white;
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;

      &:focus {
        outline: none;
        border: none;
      }

      @include mobile {
        width: 155px;
        height: 48px;
        font-size: 15px;
      }
    }
  }
}
